<!-- </ul> -->
<div class="row no-margin valign-wrapper header-list">

  <!-- index -->
  <div class="col s12 m4 push-m4 center-align">
    <ul class="pagination">
      <li *ngFor="let page of pager?.pages; let i = index" class="cursor-pointer" [ngClass]="{active:pager?.currentPage === page}">
        <a (click)="pagination.emit(page)"> {{ page }} </a>
      </li>
    </ul>
  </div>

  <!-- back button -->
  <div class="col s6 m4 pull-m4">
    <a class="waves-effect waves-light btn no-shadow white border-radius-5px width-100 primary-text primary-border"
      (click)="pagination.emit(pager?.currentPage - 1)">
      <i class="material-icons left secondary-text">chevron_left</i>
      <span class="hide-on-small-only">Anterior</span>
    </a>
  </div>

  <!-- forwar button -->
  <div class="col s6 m4 right-align">
    <a class="waves-effect waves-light btn no-shadow white border-radius-5px width-100 primary-text primary-border"
      (click)="pagination.emit(pager?.currentPage + 1)">
      <i class="material-icons right secondary-text">chevron_right</i>
      <span class="hide-on-small-only">Próximo</span>
    </a>
  </div>

</div>
