<div *ngIf="!tryAgainButton" class="row no-margin font-weight-300 valign-wrapper">
  <div class="col s12 m12 l12 xl12 center-align">
    <p class="no-margin"> {{ message }} </p>
  </div>
</div>
<div *ngIf="tryAgainButton" class="row no-margin font-weight-300 valign-wrapper">
  <div class="col s12 m12 l12 xl12 center-align">
    <p class="no-margin truncate"> <i class="fas red-text fa-exclamation-triangle"></i> {{ message }} </p>
    <button class="waves-effect waves-light grey lighten-4 primary-text btn margin-top" (click)="tryGetData.emit()">Tentar novamente</button>
  </div>
</div>