<form [formGroup]="modalForm">
  <div class="row">

    <!-- icon close -->
    <div class="col s12 right-align">
      <i class="material-icons right cursor-pointer" (click)="onClose.emit()">close</i>
    </div>

    <!-- header -->
    <div class="col s12 center-align padding">
      <h5 class="no-margin" *ngIf="!editMode; else other">Adicionar Serviço</h5>
      <ng-template #other>
        <h5 class="no-margin">Editar Serviço</h5>
      </ng-template>
    </div>

    <!-- input -->
    <div class="col s12 padding">
      <div class="input-field no-margin">
        <input maxlength="20" (keydown.enter)="validate(modalForm)" formControlName="service_type_description" placeholder="Nome do Serviço"
          type="text" class="validate" [ngClass]="{'invalid': utils.showError('service_type_description', modalForm, submitAttempt)}">
      </div>
      <div class="form-control-feedback red-text" *ngIf="utils.showError('service_type_description', modalForm, submitAttempt)">
        <p class="no-margin" *ngIf="modalForm.controls['service_type_description'].errors.required">Campo obrigatório</p>
      </div>
    </div>

    <!-- button concluir -->
    <div class="col s12 m6 push-m6 padding center-align">
      <app-button-generic [text]="(editMode) ? 'Salvar' : 'Adicionar'" (onClick)="validate(modalForm)"></app-button-generic>
    </div>

    <!-- button cancel -->
    <div class="col s12 m6 pull-m6 padding center-align">
      <app-button-generic [text]="'Cancelar'" [isOutline]="true" (onClick)="onClose.emit()"></app-button-generic>
    </div>

  </div>
</form>
