@import 'src/app/theme/variables.scss';

.margin-align-switch {
  margin-top: -2px;
}

.width-100 {
  width: 100%;
}

.border-radius-5px {
  border-radius: 5px;
}

.padding {
  padding: $padding !important;
}

.border-red {
  border: 1px dashed red !important;
}

.align {
  text-align: center !important;
}

input[type=text].valid:not(.browser-default):focus,
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: map-get($map: $colors, $key: primary);
  -webkit-box-shadow: 0 1px 0 0 map-get($map: $colors, $key: primary);
  box-shadow: 0 1px 0 0 map-get($map: $colors, $key: primary);
}

.icon-box {
  width: 100px;
  height: 100px;
  border: 1px dashed #8d8d8d;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.progress {
  margin: 96px 0 0 0;
  background-color: rgba($color: map-get($map: $colors, $key: primary), $alpha: 0.2);
}

.progress .determinate {
  background-color: rgba($color: map-get($map: $colors, $key: primary), $alpha: 1.0);
}