<!-- Navbar for Desktop -->
<div class="navbar-fixed">
  <nav class="primary overflow-hidden no-shadow">
    <div class="nav-wrapper">
      <a class="brand-logo">
        <img src="assets/logo1.svg" class="margin-14px outline-none" width="100%" alt="Report Corporate">
      </a>
    </div>
  </nav>
</div>

<!-- background image -->
<div class="width-100 height-100 background-cover" [ngStyle]="{'background': 'url(' + backgroundPicture + ') no-repeat center center'}"></div>

<!-- content -->
<div class="container" *ngIf="loading">

  <!-- loading component -->
  <div class="row">
    <app-item-loading></app-item-loading>
  </div>

</div>

<!-- container -->
<div class="container padding" *ngIf="!loading">

  <!-- form group -->
  <div [formGroup]="recoveryForm">

    <!-- text -->
    <div class="row">
      <div class="col s12 m6 push-m3 center-align">
        <h5 class="white-text">Insira sua nova senha</h5>
      </div>
    </div>

    <!-- nova senha -->
    <div class="row">
      <div class="col s12 m6 push-m3">
        <div class="input-field col s12">
          <input placeholder="Nova senha" id="password" formControlName="password" type="password" class="validate"
            [ngClass]="{'invalid': utilsService.showError('password', recoveryForm, submitAttempt)}">
          <label for="password">Nova senha</label>
        </div>
        <div class="form-control-feedback red-text" *ngIf="utilsService.showError('password', recoveryForm, submitAttempt)">
          <p class="no-margin" *ngIf="recoveryForm['controls']['password'].errors.required">
            Campo obrigatório
          </p>
          <p class="no-margin" *ngIf="recoveryForm['controls']['password'].errors.minlength">
            A senha deve conter no mínimo {{ recoveryForm['controls']['password'].errors.minlength.requiredLength }}
            caracteres
          </p>
        </div>
      </div>
    </div>

    <!-- confirmar nova senha -->
    <div class="row">
      <div class="col s12 m6 push-m3">
        <div class="input-field col s12">
          <input placeholder="Confirmar nova senha" id="confirm_password" formControlName="confirm_password" type="password"
            [ngClass]="{'invalid': utilsService.showError('confirm_password', recoveryForm, submitAttempt)}">
          <label for="confirm_password">Confirmar nova senha</label>
        </div>
        <div class="form-control-feedback red-text" *ngIf="utilsService.showError('confirm_password', recoveryForm, submitAttempt)">
          <p class="no-margin" *ngIf="recoveryForm['controls']['confirm_password'].errors.required">
            Campo obrigatório
          </p>
          <p class="no-margin" *ngIf="recoveryForm['controls']['confirm_password'].errors.invalidConfirmPassword">
            As senhas devem ser iguais
          </p>
          <p class="no-margin" *ngIf="recoveryForm['controls']['confirm_password'].errors.minlength">
            A senha deve conter no mínimo {{
            recoveryForm['controls']['confirm_password'].errors.minlength.requiredLength }}
            caracteres
          </p>
        </div>
      </div>
    </div>

    <!-- button -->
    <div class="row">
      <div class="col s12 m6 push-m3">
        <app-button-generic [text]="'REDEFINIR SENHA'" (onClick)="changePassword(recoveryForm)"></app-button-generic>
      </div>
    </div>
  </div>

</div>

<!-- message -->
<app-sweet-message [swalOptions]="swalOptions" (onConfirm)="redirect()" [dismissible]="false"></app-sweet-message>