@import 'src/app/theme/variables.scss';

@media #{$small-and-down} {
  .height-90px {
    height: 56px;
  }

  img {
    height: 32px;
    margin: 12px;
  }
}

@media #{$medium-and-up} {
  .height-90px {
    height: 64px;
  }

  img {
    height: 32px;
    margin: 16px;
  }
}

.input-field {
  padding: 0px !important;
}

.input-field.col label {
  left: 0;
}

.row .col.s12 {
  z-index: 1;
}

.container {
  padding-top: 30px;
}

h5 {
  font-weight: 300;
}

.p-absolute{
  position: absolute;
} 

.bottom-0 {
  bottom: 0;
}

.margin-14px {
  margin: 14px;
  max-height: 28px;
}

nav .brand-logo {
  display: contents !important;
}

.width-100 {
  width: 100vw;
}

.height-100 {
  height: 100vh;
}

.background-cover {
  z-index: -1;
  position: fixed;
  background-size: cover !important;
}

input {
  color: white;
}