<form [formGroup]="modalForm">
  <div class="row">

    <!-- icon close -->
    <div class="col s12 right-align">
      <i class="material-icons right cursor-pointer" (click)="onClose.emit()">close</i>
    </div>

    <!-- header -->
    <div class="col s12 center-align padding">
      <h5 class="no-margin" *ngIf="!editMode; else other">Adicionar Local</h5>
      <ng-template #other>
        <h5 class="no-margin">Editar Local</h5>
      </ng-template>
    </div>

    <!-- message -->
    <div class="col s12" *ngIf="!editMode">
      <p class="center-align no-margin">Preencha os campos para adicionar um novo local</p>
    </div>
    <div class="col s12" *ngIf="editMode">
      <p class="center-align no-margin">Modifique as informações e atualize o local</p>
    </div>

    <!-- agency -->
    <div class="col s12 padding">
      <div class="input-field" *ngIf="agencies$">
        <select id="category" materialize="material_select" formControlName="locationAgency">
          <option value="" disabled selected>Selecione a agência</option>
          <option *ngFor="let agency of agencies$ | async" [value]="agency.value">{{agency.name}}</option>
        </select>
        <label for="category">Agência</label>
      </div>
    </div>

    <!-- input -->
    <div class="col s12 padding">
      <div class="input-field no-margin">
        <input maxlength="20" (keydown.enter)="validate(modalForm)" formControlName="locationName" placeholder="Nome do Local"
          type="text" class="validate" [ngClass]="{'invalid': utils.showError('locationName', modalForm, submitAttempt)}">
      </div>
      <div class="form-control-feedback red-text" *ngIf="utils.showError('locationName', modalForm, submitAttempt)">
        <p class="no-margin" *ngIf="modalForm.controls['locationName'].errors.required">Campo obrigatório</p>
      </div>
    </div>

    <!-- button concluir -->
    <div class="col s12 m6 push-m6 padding center-align">
      <app-button-generic [text]="(editMode) ? 'Salvar' : 'Adicionar'" (onClick)="validate(modalForm)"></app-button-generic>
    </div>

    <!-- button cancel -->
    <div class="col s12 m6 pull-m6 padding center-align">
      <app-button-generic [text]="'Cancelar'" [isOutline]="true" (onClick)="onClose.emit()"></app-button-generic>
    </div>

  </div>
</form>
