@import 'src/app/theme/variables.scss';

.padding {
  padding: $padding !important;
}

input[type=text].valid:not(.browser-default):focus,
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: map-get($map: $colors, $key: primary);
  -webkit-box-shadow: 0 1px 0 0 map-get($map: $colors, $key: primary);
  box-shadow: 0 1px 0 0 map-get($map: $colors, $key: primary);
}