@import 'src/app/theme/variables.scss';

.border-out {
  border: 1px solid map-get($map: $colors, $key: lightgrey);
  background-color: map-get($map: $colors, $key: white);
  border-radius: 7px;
}

input[type=text]:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=text]:not(.browser-default):focus:not([readonly]) {
  margin: 0px;
  border-bottom: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  font-size: 1.5rem;
  height: 4rem;
}

.row .col {
  padding: 0px 1.5rem;
}

a {
  color: map-get($map: $colors, $key: primary);
}

#share {
  right: 15px;
}

.center {
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}