<!-- Swall confirm -->
<swal #generalSwal [showConfirmButton]="false">

  <!-- header -->
  <ng-container *swalPartial="swalTargets.title">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <img src="assets/sicoob-logo-horizontal-default.png" height="40" alt="Logo">
    </div>
  </ng-container>

  <!-- content -->
  <div class="d-flex flex-column align-items-center margin-top" *swalPartial="swalTargets.content">
    <div class="padding-bottom-40px d-flex flex-column align-items-center margin-bottom-5px">
      <strong class="title-text padding-top center-align"> {{ swalOptions.title }} </strong>
      <span class="padding-vertical center-align">
        {{ swalOptions.content }}
      </span>
    </div>
    <a class="position-absolute bottom-0 btn hover-secondary btn-large width-100 primary white-text flex-1" (click)="close()">
      {{ swalOptions.button }}
    </a>
  </div>

</swal>