<form class="col s12 no-padding" [formGroup]="loginForm">
  <div class="row no-margin">

    <!-- email -->
    <div class="col s12">
      <div class="input-field input-background-color border-radius-7px padding-horizontal margin-vertical">
        <input (keydown.enter)="validate(loginForm, onValidate)" id="email" placeholder="E-mail" maxlength="50" formControlName="username" type="text" class="validate">
      </div>
    </div>

    <!-- password -->
    <div class="col s12">
      <div class="input-field input-background-color border-radius-7px padding-horizontal margin-vertical">
        <input (keydown.enter)="validate(loginForm, onValidate)" id="password" placeholder="Senha" maxlength="50" formControlName="password" type="password" class="validate">
      </div>
    </div>

    <!-- button sign in -->
    <div class="col s12 margin-top">
      <app-button-generic [text]="'ENTRAR'" (onClick)="validate(loginForm, onValidate)"></app-button-generic>
    </div>

  </div>
</form>
