@import 'src/app/theme/variables.scss';

.width-100 {
  width: 100%;
}

.border-radius-50px {
  border-radius: 50px;
}

.btn-large {
  height: 44px;
  line-height: 44px;
}

.btn:focus, .btn-large:focus, .btn-floating:focus, .btn:hover, .btn-large:hover {
  background-color: map-get($map: $colors, $key: primary);
}

p {
  transform: translateY(-3px);
}