<div class="container" *ngIf="!solicitations || loading">

  <!-- loading component -->
  <div class="row">
    <app-item-loading></app-item-loading>
  </div>

</div>

<!--  -->
<div class="container" *ngIf="solicitations && !loading">

  <!-- panels -->
  <div class="row">

    <!-- title -->
    <div class="col s12 grey-text text-lighten-1">
      <h3>Solicitações</h3>
    </div>

  </div>

  <!-- panels -->
  <div class="row valign-wrapper">

    <!-- searchbar -->
    <div class="col s9 m8 l9 xl10">
      <app-search-bar [placeholder]="'Buscar por nome ou tipo de serviço'" (onSearch)="search($event.input)"></app-search-bar>
    </div>

    <!-- add button -->
    <div class="col s3 m4 l3 xl2">
      <app-button-filter data-activates="solicitation-filter" materialize="sideNav" [materializeParams]="sideNavParams"
        [materializeActions]="sideNavActions"></app-button-filter>
    </div>

  </div>

  <!-- header med and up -->
  <div class="row hide-on-med-and-down header-layout no-margin">
    <div class="col s4">
      <p>Nome</p>
    </div>
    <div class="col s4">
      <p>Local</p>
    </div>
    <div class="col s2">
      <p>Serviço</p>
    </div>
    <div class="col s2">
      <p>Status</p>
    </div>
  </div>

  <!-- table med and up -->
  <div class="row hide-on-med-and-down border-row no-margin padding-vertical no-border-top" *ngFor="let solicitation of solicitations">
    <div class="col s4">
      <div class="col">
        <app-photo-circle [url]="solicitation.photoUrl"></app-photo-circle>
      </div>
      <div class="col">
        <p class="truncate"> {{ solicitation.displayName }} </p>
      </div>
    </div>
    <div class="col s4">
      <p> {{ solicitation.location }} </p>
    </div>
    <div class="col s2">
      <p> {{ solicitation.service }} </p>
    </div>
    <div class="col s2">
      <p *ngIf="solicitation.status" class="green-text text-darken-2"> Resolvido </p>
      <p *ngIf="!solicitation.status" class="red-text text-darken-2"> Aguardando </p>
    </div>
  </div>

  <!-- table med only -->
  <div class="row hide-on-large-only hide-on-small-only border-row no-margin padding-vertical" *ngFor="let solicitation of solicitations;let i = index"
    [ngClass]="{'no-border-top': i != 0}">
    <div class="col s12 m6">
      <div class="col">
        <app-photo-circle [url]="solicitation.photoUrl"></app-photo-circle>
      </div>
      <div class="col">
        <p class="truncate"> {{ solicitation.displayName }} </p>
      </div>
    </div>
    <div class="col s12 m6">
      <p> <span class="bold">Local:</span> {{ solicitation.location }} </p>
      <p> <span class="bold">Serviço:</span> {{ solicitation.service }} </p>
      <p *ngIf="solicitation.status">
        <span class="bold">
          Status:
        </span>
        <span class="green-text text-darken-2">
          Resolvido
        </span>
      </p>
      <p *ngIf="!solicitation.status">
        <span class="bold">
          Status:
        </span>
        <span class="red-text text-darken-2">
          Aguardando
        </span>
      </p>
    </div>
  </div>

  <!-- table small only -->
  <div class="row show-on-small hide-on-med-and-up center-align border-row no-margin padding-vertical" *ngFor="let solicitation of solicitations;let i = index"
    [ngClass]="{'no-border-top': i != 0}">
    <div class="col s12">
      <app-photo-circle [url]="solicitation.photoUrl"></app-photo-circle>
    </div>
    <div class="col s12">
      <p> <span class="bold">Nome:</span> {{ solicitation.displayName }} </p>
      <p> <span class="bold">Local:</span> {{ solicitation.location }} </p>
      <p> <span class="bold">Serviço:</span> {{ solicitation.service }} </p>
      <p *ngIf="solicitation.status">
        <span class="bold">
          Status:
        </span>
        <span class="green-text text-darken-2">
          Resolvido
        </span>
      </p>
      <p *ngIf="!solicitation.status">
        <span class="bold">
          Status:
        </span>
        <span class="red-text text-darken-2">
          Aguardando
        </span>
      </p>
    </div>
  </div>

</div>


<!-- sidenav menu -->
<ul id="solicitation-filter" class="side-nav side-menu secondary">

  <!-- header -->
  <li>
    <app-item-filter-header (onClose)="closeFilterMenu()"></app-item-filter-header>
  </li>

</ul>