<div class="container" *ngIf="!solicitationState.list || solicitationState.loading">

  <!-- loading component -->
  <div class="row">
    <app-item-loading></app-item-loading>
  </div>

</div>

<!--  -->
<div class="container" *ngIf="solicitationState.list && !solicitationState.loading">

  <!-- panels -->
  <div class="row">

    <!-- title -->
    <div class="col s12 grey-text text-lighten-1">
      <h3>Solicitações</h3>
    </div>

  </div>

  <!-- panels -->
  <div class="row">

    <!-- searchbar -->
    <div class="col s12">
      <app-search-bar [questions]="getFiltersValues | async" [showFilter]="true" [placeholder]="'Buscar por nome ou tipo de serviço'"
        (onSearch)="search($event)" (formValue)="filters($event)"></app-search-bar>
    </div>

  </div>

  <!-- header med and up -->
  <div class="row hide-on-med-and-down header-layout no-margin">
    <div class="col s4">
      <p>Nome</p>
    </div>
    <div class="col s4">
      <p>Local</p>
    </div>
    <div class="col s2">
      <p>Serviço</p>
    </div>
    <div class="col s2">
      <p>Status</p>
    </div>
  </div>

  <!-- loop solicitation -->
  <div *ngIf="solicitationState.list?.length !== 0">
    <span *ngFor="let solicitation of solicitationState.list; let i = index">

      <!-- table med and up -->
      <div class="row hide-on-med-and-down border-row no-margin padding-vertical no-border-top hover-row cursor-pointer"
        (click)="openDetails(solicitation)">
        <div class="col s4">
          <div class="col">
            <app-photo-circle [url]="solicitation.employee_photo_url"></app-photo-circle>
          </div>
          <div class="col">
            <p class="truncate"> {{ solicitation.employee_name }} </p>
          </div>
        </div>
        <div class="col s4">
          <p> {{ solicitation.environment_description }} </p>
        </div>
        <div class="col s2">
          <p> {{ solicitation.service_type_description }} </p>
        </div>
        <div class="col s2">
          <p class="no-margin justify-text" *ngIf="number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1">
            <span class="orange-text" *ngIf="number(solicitation['purchase_status_id']) === 1">
              Aguardando aprovação de solicitação
            </span>
            <span class="deep-purple-text" *ngIf="number(solicitation['purchase_status_id']) === 2">
              Solicitação de compra aprovada
            </span>
            <span class="pink-text" *ngIf="number(solicitation['purchase_status_id']) === 3">
              Solicitação de compra recusada
            </span>
          </p>
          <p class="no-margin justify-text" [ngStyle]="{'color': solicitation.color}" *ngIf="!(number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1)">
            <span *ngIf="number(solicitation.request_status_id) !== 2">
              {{ solicitation.status }}
            </span>
            <span class="deep-purple-text" *ngIf="number(solicitation.request_status_id) === 2">
              Solicitação de compra aprovada
            </span>
          </p>
        </div>
      </div>

      <!-- table med only -->
      <div class="row hide-on-large-only hide-on-small-only border-row no-margin padding-vertical hover-row cursor-pointer"
        [ngClass]="{'no-border-top': i % paginationService.getItemsPerPage() !== 0}" (click)="openDetails(solicitation)">
        <div class="col s12 m6">
          <div class="col">
            <app-photo-circle [url]="solicitation.employee_photo_url"></app-photo-circle>
          </div>
          <div class="col">
            <p class="truncate"> {{ solicitation.employee_name }} </p>
          </div>
        </div>
        <div class="col s12 m6">
          <p> <span class="bold">Local:</span> {{ solicitation.environment_description }} </p>
          <p> <span class="bold">Serviço:</span> {{ solicitation.service_type_description }} </p>
          <p>
            <span class="bold">
              Status:
            </span>
            <span class="no-margin justify-text" *ngIf="number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1">
              <span class="orange-text" *ngIf="number(solicitation['purchase_status_id']) === 1">
                Aguardando aprovação de solicitação
              </span>
              <span class="deep-purple-text" *ngIf="number(solicitation['purchase_status_id']) === 2">
                Solicitação de compra aprovada
              </span>
              <span class="pink-text" *ngIf="number(solicitation['purchase_status_id']) === 3">
                Solicitação de compra recusada
              </span>
            </span>
            <span class="no-margin justify-text" [ngStyle]="{'color': solicitation.color}" *ngIf="!(number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1)">
              <span *ngIf="number(solicitation.request_status_id) !== 2">
                {{ solicitation.status }}
              </span>
              <span class="deep-purple-text" *ngIf="number(solicitation.request_status_id) === 2">
                Solicitação de compra aprovada
              </span>
            </span>
        </div>
      </div>

      <!-- table small only -->
      <div class="row show-on-small hide-on-med-and-up center-align border-row no-margin padding-vertical hover-row cursor-pointer"
        [ngClass]="{'no-border-top': i % paginationService.getItemsPerPage() !== 0}" (click)="openDetails(solicitation)">
        <div class="col s12">
          <app-photo-circle [url]="solicitation.employee_photo_url"></app-photo-circle>
        </div>
        <div class="col s12">
          <p> <span class="bold">Nome:</span> {{ solicitation.employee_name }} </p>
          <p> <span class="bold">Local:</span> {{ solicitation.environment_description }} </p>
          <p> <span class="bold">Serviço:</span> {{ solicitation.service_type_description }} </p>
          <p>
            <span class="bold">
              Status:
            </span>
            <span class="no-margin justify-text" *ngIf="number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1">
              <span class="orange-text" *ngIf="number(solicitation['purchase_status_id']) === 1">
                Aguardando aprovação de solicitação
              </span>
              <span class="deep-purple-text" *ngIf="number(solicitation['purchase_status_id']) === 2">
                Solicitação de compra aprovada
              </span>
              <span class="pink-text" *ngIf="number(solicitation['purchase_status_id']) === 3">
                Solicitação de compra recusada
              </span>
            </span>
            <span class="no-margin justify-text" [ngStyle]="{'color': solicitation.color}" *ngIf="!(number(solicitation.request_status_id) === 1 && number(solicitation['purchase_status_id']) !== -1)">
              <span *ngIf="number(solicitation.request_status_id) !== 2">
                {{ solicitation.status }}
              </span>
              <span class="deep-purple-text" *ngIf="number(solicitation.request_status_id) === 2">
                Solicitação de compra aprovada
              </span>
            </span>
        </div>
      </div>
    </span>
  </div>

  <!-- pagination -->
  <div *ngIf="solicitationState.list?.length !== 0">
    <div class="col s12">
      <app-pagination [pager]="solicitationState.pager" (pagination)="pagination($event)"></app-pagination>
    </div>
  </div>

  <!-- table body message -->
  <div *ngIf="solicitationState.list?.length === 0" class="row border-row">
    <div class="col s12 padding">
      <app-error-message *ngIf="!solicitationState.error" [message]="'Nenhuma solicitação cadastrada'"></app-error-message>
      <app-error-message *ngIf="solicitationState.error" [tryAgainButton]="true" [message]="solicitationState.messageError"
        (tryGetData)="getList()"></app-error-message>
    </div>
  </div>

</div>