@import 'src/app/theme/variables.scss';

.width-100 {
  width: 100%;
}

.border-radius-7px {
  border-radius: 7px;
}

.height-60px {
  height: 60px;
}

.btn-large {
  height: 60px;
  line-height: 60px;
}

.btn:focus,
.btn-large:focus,
.btn-floating:focus,
.btn:hover,
.btn-large:hover {
  background-color: map-get($map: $colors, $key: primary);
}
