@import 'src/app/theme/variables.scss';

.side-menu li {
  width: 300px;
}

.side-menu li span {
  font-size: 22px;
  margin: 20px 40px 0px 0px;
}

.side-menu li a {
  display: block;
  font-size: .9rem;
  text-decoration: none;
  color: map-get($map: $colors, $key: secondary);
  height: 60px;
  color: #fff;
}

.side-menu li a:hover,
.active {
  background: map-get($map: $colors, $key: primary);
  display: block;
}

.background-light {
  background-color: map-get($map: $colors, $key: menu-header);
}

.min-height-150 {
  min-height: 150px;
}

.z-index-10 {
  z-index: 10;
}

@media #{$small-and-down} {
  .height-90px {
    height: 56px;
  }

  img {
    height: 32px;
    margin: 12px;
  }
}

@media #{$medium-and-up} {
  .height-90px {
    height: 64px;
  }

  img {
    height: 35px;
    margin: 16px;
  }

}

nav {
  box-shadow: none;
}

a,
.dropdown-content li>a,
.dropdown-content li>span {
  color: map-get($map: $colors, $key: primary);
}

.dropdown-content {
  top: 60px !important;
}

.light-bk,
.active {
  background-color: map-get($map: $colors, $key: primary);
}

.selected {
  background-color: map-get($map: $colors, $key: primary);
}

.light-bk:hover {
  background-color: map-get($map: $colors, $key: light);
  color: map-get($map: $colors, $key: primary) !important;
}
