<!-- page loading -->
<app-loading-page-transparent *ngIf="loadingTransparent"></app-loading-page-transparent>

<!-- loading conatiner -->
<div class="container" *ngIf="!solicitation || loading">

  <!-- loading component -->
  <div class="row">
    <app-item-loading></app-item-loading>
  </div>

</div>

<!-- container -->
<div class="container" *ngIf="solicitation && !loading">
  <div class="row padding-row no-margin">

    <!-- image -->
    <div class="col s12 no-padding">
      <div class="image-box grey lighten-2 background" [ngStyle]="{ 'background-image': 'url(' + utilsService.verifyLink(objectValues(solicitation.images)[index].request_photo_url) + ')' }"></div>
    </div>

    <!-- description -->
    <div class="col s12 no-padding center-align primary">
      <p class="white-text bold"> {{ solicitation.service_type_description }} </p>
    </div>

    <!-- carrousel -->
    <div class="col s12 no-padding" *ngIf="objectValues(solicitation.images).length > 1">
      <div #carousel class="carousel" [ngClass]="{ 'initialized': showInitialized }" materialize="carousel"
        [materializeActions]="actions">
        <a *ngFor="let url of objectValues(solicitation.images); let i = index" class="carousel-item" (click)="index = i">
          <img [src]="utilsService.verifyLink(url['request_photo_url'])">
        </a>
      </div>
    </div>

    <!-- button update status -->
    <span *ngIf="number(solicitation.request_status_id) === 1 && solicitation.purchase_request">
      <div class="row no-margin">
        <div class="col s12 m6 push-m3 margin-top no-padding" *ngIf="number(solicitation.purchase_request.purchase_status_id) === 1">
          <app-button-generic [isOutline]="false" [text]="'Aprovar solicitação de Compra'" (onClick)="openChangeStatusModal(true)"></app-button-generic>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col s12 m6 push-m3 margin-top no-padding" *ngIf="number(solicitation.purchase_request.purchase_status_id) === 1">
          <app-button-generic [isOutline]="true" [text]="'Recusar solicitação de Compra'" (onClick)="openChangeStatusModal(false)"></app-button-generic>
        </div>
      </div>
    </span>

    <!-- purchase request -->
    <span *ngIf="number(solicitation.request_status_id) > 0 && solicitation.purchase_request">
      <div class="col s12 margin-top grey lighten-4">
        <p class="padding-vertical no-margin black-text bold center-align"> Detalhes da solicitação de compra </p>
        <p class="no-margin justify-text"> <span class="bold">Descrição:</span> {{
          solicitation?.purchase_request?.purchase_request_description }} </p>
        <p class="no-margin justify-text padding-bottom"> <span class="bold">Preço estimado:</span> {{
          solicitation?.purchase_request?.purchase_request_price | currency: 'BRL' }} </p>
      </div>
    </span>

    <!-- description -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Descrição </p>
      <p class="no-margin justify-text"> {{ solicitation?.request_description }} </p>
    </div>

    <!-- created at -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Solicitado em: </p>
      <p class="no-margin justify-text"> {{ solicitation.request_created_at | date: 'dd/MM/yyyy' }} </p>
    </div>

    <!-- created at -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Status </p>
      <p class="no-margin justify-text" *ngIf="number(solicitation.request_status_id) === 1 && solicitation.purchase_request">
        <span class="orange-text" *ngIf="number(solicitation.purchase_request.purchase_status_id) === 1">
          Aguardando aprovação de solicitação
        </span>
        <span class="deep-purple-text" *ngIf="number(solicitation.purchase_request.purchase_status_id) === 2">
          Solicitação de compra aprovada
        </span>
        <span class="pink-text" *ngIf="number(solicitation.purchase_request.purchase_status_id) === 3">
          Solicitação de compra recusada
        </span>
      </p>
      <p class="no-margin justify-text" [ngStyle]="{'color': solicitation.color}" *ngIf="!(number(solicitation.request_status_id) === 1 && solicitation.purchase_request)">
        <span *ngIf="number(solicitation.request_status_id) !== 2">
          {{ solicitation.status }}
        </span>
        <span class="deep-purple-text" *ngIf="number(solicitation.request_status_id) === 2">
          Solicitação de compra aprovada
        </span>
      </p>
    </div>

    <!-- location -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Local </p>
      <p class="no-margin justify-text"> {{ solicitation?.environment_description }} </p>
    </div>

    <!-- location -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Agência </p>
      <p class="no-margin justify-text"> {{ solicitation?.agency }} </p>
    </div>

    <!-- comments -->
    <div class="col s12 padding-top">
      <p class="header grey-text"> Comentários </p>
      <p class="no-margin justify-text" *ngIf="solicitation?.comments?.length === 0"> Nenhum comentário registrado </p>
      <p class="no-margin justify-text padding-bottom" *ngFor="let comment of solicitation?.comments">
        <span class="grey-text text-lighten-1">
          {{ comment?.comment_created_at | date:'dd/MM/yyyy' }} às
          {{ comment?.comment_created_at | date:'hh:mm' }}
        </span> <br>
        <span class="bold">
          {{ solicitation?.users_commented[comment?.user_id]?.name }}:
        </span>
        {{ comment?.comment_message }}
      </p>
    </div>

    <!-- add comment -->
    <div class="col s12 padding-top hide-on-small-only">
      <p class="header grey-text"> Adicionar comentário </p>
      <app-input-comment (onClick)="addComment($event)"></app-input-comment>
    </div>

  </div>
</div>

<!-- input -->
<app-input-comment *ngIf="solicitation && !loading" class="hide-on-med-and-up" (onClick)="addComment($event)"></app-input-comment>

<!-- sweet message -->
<app-sweet-message [swalOptions]="swalOptions"></app-sweet-message>

<!-- question swal -->
<app-button-swal-alert [swalOptions]="swalQuestionOptions" (onRightButtonConfirm)="changeStatus(type)"></app-button-swal-alert>
